<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
</head>
<body>
    <h1><a href=""> ◀ 장바구니 </a></h1>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th colspan="2">상품명</th>
                <th>가격</th>
                <th>수량</th>
                <th>총액</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>상품 이미지</td>
                <td>상품 A <br> 옵션 : 부들부들푸딩 <br> 9/25일 배송 예정</td>
                <td>10,000원</td>
                <td><input type="number" value="1" min="1" style="width: 50px;"></td>
                <td>10,000원</td>
                <td><button class="btn btn-remove">삭제</button></td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>상품 이미지</td>
                <td>상품 B</td>
                <td>20,000원</td>
                <td><input type="number" value="2" min="1" style="width: 50px;"></td>
                <td>40,000원</td>
                <td><button class="btn btn-remove">삭제</button></td>
            </tr>
        </tbody>
    </table>
    <br>
    <table>
        <thead>
            <tr>
                <th>주문금액</th>
                <th>할인</th>
                <th>배송비</th>
                <th>총액</th>
              
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>50,000원</td>
                <td>0원</td>
                <td>3,000원</td>
                <td>53,000원</td>

            </tr>
        </tbody>
    </table>
    <br>
    <button class="btn">뒤로가기</button>
    <button class="btn">결제하기</button>
</div>
</body>
</html>