<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link href="../../assets/css/Jjingoodslist.css" rel="stylesheet" type="text/css">


    </head>

    <body>
        <div id="wrap">
            <div id="content">
                    <!-- 상단-->
                <div id="title">
                    <div id="location">
                        <h1 id="page_name"> AdultFood </h1>
                        <p id="totalcount"> 42개 </p>
                    </div>
                </div>

                <!--- 이미지 반복 영역 -->
                <div id="gallery">
                    <ul id="viewArea">
                        <li>
                            <div class="view">
                                <img class="imgItem" src="../../assets/images/download.jfif">
                                <div class="imgName">상품이름(name)</div>
                                <div class="imgContent">상품설명(comtent)</div>
                                <div class="imgPrice">가격(price)</div>
                            </div>
                        </li>
                        <li>
                            <div class="view">
                                <img class="imgItem" src="../../assets/images/download.jfif">
                                <div class="imgName">상품이름(name)</div>
                                <div class="imgContent">상품설명(comtent)</div>
                                <div class="imgPrice">가격(price)</div>
                            </div>
                        </li>
                        <li>
                            <div class="view">
                                <img class="imgItem" src="../../assets/images/download.jfif">
                                <div class="imgName">상품이름(name)</div>
                                <div class="imgContent">상품설명(comtent)</div>
                                <div class="imgPrice">가격(price)</div>
                            </div>
                        </li>
                        <li>
                            <div class="view">
                                <img class="imgItem" src="../../assets/images/download.jfif">
                                <div class="imgName">상품이름(name)</div>
                                <div class="imgContent">상품설명(comtent)</div>
                                <div class="imgPrice">가격(price)</div>
                            </div>
                        </li>
                        <li>
                            <div class="view">
                                <img class="imgItem" src="../../assets/images/download.jfif">
                                <div class="imgName">상품이름(name)</div>
                                <div class="imgContent">상품설명(comtent)</div>
                                <div class="imgPrice">가격(price)</div>
                            </div>
                        </li>
                        <li>
                            <div class="view">
                                <img class="imgItem" src="../../assets/images/download.jfif">
                                <div class="imgName">상품이름(name)</div>
                                <div class="imgContent">상품설명(comtent)</div>
                                <div class="imgPrice">가격(price)</div>
                            </div>
                        </li>
                        <li>
                            <div class="view">
                                <img class="imgItem" src="../../assets/images/download.jfif">
                                <div class="imgName">상품이름(name)</div>
                                <div class="imgContent">상품설명(comtent)</div>
                                <div class="imgPrice">가격(price)</div>
                            </div>
                        </li>
                        <li>
                            <div class="view">
                                <img class="imgItem" src="../../assets/images/download.jfif">
                                <div class="imgName">상품이름(name)</div>
                                <div class="imgContent">상품설명(comtent)</div>
                                <div class="imgPrice">가격(price)</div>
                            </div>
                        </li>
                        <li>
                            <div class="view">
                                <img class="imgItem" src="../../assets/images/download.jfif">
                                <div class="imgName">상품이름(name)</div>
                                <div class="imgContent">상품설명(comtent)</div>
                                <div class="imgPrice">가격(price)</div>
                            </div>
                        </li>
                    </ul>
                    
                </div>
                <!--- 이미지 반복 영역 끝 -->
                <div id="pagingArea">    
                    <div id="paging">
                        <ul>
                            <li>◀</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>▶</li>
                        </ul>
                    </div>
                </div>
            </div>
                

        </div>

        


















    </body>
</html>