@charset "UTF-8";

    

#logo{
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#img {
    max-width: 80px;
    margin-inline: auto;
}

.content {
 
    padding: 20px;
    border-radius: 8px;

    
}

#username{
    margin-left: 20px ;
}


#joinFormBox label{
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;;
}

#joinFormBox input{
    width: 300px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

#joinFormBox button{
    width: 100px;
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #ff4500;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    text-align: center;
    }




