#wrap{ margin: 0px auto; width: 1000px; background-color:#ebb4b4;}
#title{ width: 1000px; border-bottom: 2px solid #000000;}
#content{width: 1000px; }
#gallery{width: 1000px;}
#pagingArea{width: 1000;}
