<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 헤더</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="" alt="고양이 로고">
                <h1>고양아 멍멍해봐</h1>
            </div>
            <div class="search">
                <input type="text" placeholder="문자열로 검색">
                <button class="searchbtn">🔍</button>
            </div>
            <div class="usermenu">
                <button>상품등록</button>
                <button>상품관리</button>
                <button>주문관리</button>
                <button>MY PAGE</button>
                <button>장바구니 </button>
                <button>로그아웃</button>
            </div>
        </div>
        <div class="nav-menu">
           
            <ul>
                 <h2>사료</h2>
                <li><a href="#">성인묘</a></li>
                <li><a href="#">아가묘</a></li>
                
                <h2>간식</h2>
                <li><a href="#">캔</a></li>
                <li><a href="#">츄르</a></li>
            </ul>
        </div>
        <div class="welcome-message">
            <p>관리자님 어서오세요</p>
        </div>
    </header>
</body>
</html>