<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 전 헤더</title>
    <link rel="stylesheet" href="/header.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="" alt="고양이 로고">
                <h1>고양아 멍멍해봐</h1>
            </div>
            <div class="search">
                <input type="text" placeholder="문자열로 검색">
                <button class="search-btn">🔍</button>
            </div>
            <div class="menu">
                <button>회원가입</button>
                <button>로그인</button>
            </div>
        </div>
        <div class="nav-menu">
            <ul>
                <h2>사료</h2>
                <li><a href="#">성인묘</a></li>
                <li><a href="#">아가묘</a></li>
                
                <h2>간식</h2>
                <li><a href="#">캔</a></li>
                <li><a href="#">츄르</a></li>
            </ul>
        </div>
        <div class="welcome-message"><!--여기는 관리자용으로 따로 만들기-->
            <p></p>
        </div>
    </header>
</body>
</html>