<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 전 헤더</title>
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link href="../../assets/css/reset.css" rel="stylesheet">
</head>
<body>
    <!-- 헤더 섹션 -->
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="" alt="고양이 로고">
                <h1>냐옹아 멍멍해봐</h1>
            </div>
            <div class="search">
                <input type="text" placeholder="문자열을 검색하세요!">
                <button class="search-btn">🔍</button>
            </div>
            <div class="menu">
                <button>회원가입</button>
                <button>로그인</button>
            </div>
        </div>
        <div class="nav-menu">
            <ul>
                <li><h2>사료</h2></li>
                <li><a href="#">성인묘</a></li>
                <li><a href="#">아가묘</a></li>
                <li><h2>간식</h2></li>
                <li><a href="#">캔</a></li>
                <li><a href="#">츄르</a></li>
            </ul>
        </div>
        <div class="welcome-message">
            <p></p>
        </div>
    </header>
</body>
</html>