<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    
    <link rel="stylesheet" href="../../assets/css/hdrlogin.css">
</head>
<body>
    <header>
        <h1>냐옹아 멍멍해봐</h1><br>
        <h2>로그인</h2>
    </header>
    <div class="content">
      

        <form>
            <label for="username">아이디</label>
            <input type="text" id="username" placeholder="아이디를 입력하세요" required><!--입력하지 않고 로그인버튼을 누르면 입력하세요 라고 하는 기능이 존재합니다. -->

            <label for="password">비밀번호</label>
            <input type="password" id="password" placeholder="비밀번호를 입력하세요" required>

            <button type="submit">로그인</button>
        </form>
        <p>아직 회원이 아니신가요? <a href="#">가입하세요!</a></p>
    </div>
   
</body>
</html>