<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link href="../../assets/css/Jjinadmingoodslist.css" rel="stylesheet" type="text/css">

    </head>

    <body>
        <div id="wrap">
            <div id="content">
                
                <div id="name-title">
                    <ul>
                        <li id="goodslist"> 상품관리 리스트 </li>
                    </ul>
                </div>
                <form action="" method="">
                    <div id="form-group">
                        <input type="text" name="keyword" value="">
                        <button type="submit" id="btn-search"> 검색 </button>
                    </div>
                </form>

                <div id="list-table">
                    <table>
                        <thead>
                            <tr>
                                <th> 번호 </th>
                                <th> 카테고리 </th>
                                <th> 상품이름 </th>
                                <th> 등록날짜 </th>
                                <th> 글제목 </th>
                                <th> 상품가격 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1 </td>
                                <td> 츄르 </td>
                                <td> 하림츄르 </td>
                                <td> 2024-09-06 </td>
                                <td> 맛있는 츄류류륩 </td>
                                <td> 3,000 </td>
                                <td> <button type="submit" id="btn-delete"> 삭제 </button> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                
                <div id="paging">
                    <ul>
                        <li>◀</li>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>▶</li>
                    </ul>
            
                </div>
                
            
            </div>

        </div>
    </body>

</html>